body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  width: 100%;
  height: 100vh;
  background: #9a69aa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.todo{
  width: 25%;
  height: 80vh;
  background-color: whitesmoke;
  border-radius: 15px;
}

h1{
  color: white;
  background: transparent;
  background-color: #668daa;
  padding: 6px 0px 2px 0px;
  margin-bottom: 10px;
}

input{
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #668daa;
  outline: none;
}

button{
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #668daa;
  color: white;
  font-size: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
}
button:hover{
  background-color: green;
}

ol{
  margin-top: 30px;
}

ol li {
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #668daa;
  text-transform: capitalize;
}

.todo_style{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.todo_style .fa-times{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #668daa;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  color: aliceblue;
}

.todo_style .fa-times:hover{
  background-color: red;
}

@media (max-width: 768px){
  .app{
    width: 55%;
  }
  .todo_style .fa-times{
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button {
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color: #fff;
    font-size: 30px;
  }
}